@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

.prm-primary-bg.prm-hue1, prm-atoz-search-bar.prm-hue1, prm-browse-search-bar.prm-hue1, prm-collection-gallery-header .prm-hue1.collection-header-inner, prm-newspapers-search-bar.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark::after, prm-tags-search-bar.prm-hue1, prm-topbar .top-nav-bar, prm-tree-nav prm-spinner .prm-hue1.diamond {
	background-color: #642667;
}

.prm-primary-bg, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner, prm-newspapers-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark::after, prm-tags-search-bar, prm-tree-nav prm-spinner .diamond {
	background-color: #642667;
}

body {
	font-family: "barlow", Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
}

md-card.footer-etablissements {
    background-color:#be3a34;
}

.etablissements {
    background-color: #be3a34;
    padding: 1em 0 1em 0;
}

.etablissements ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}


li.etablissement {
    float: left;
    margin: 0 1em 1em 0;
}

.etablissement img {
    max-height: 63px;
    line-height: 1.5;
    padding-bottom: 0.3em;
}

a:hover {
    text-decoration: underline;
}

.etablissement-link {
    border-bottom:2px solid transparent;
    display:inline-block;
    transition:border .15s ease-in;
}
.etablissement-link:hover,
.etablissement-link:active,
.etablissement-link:focus {
    border-bottom-color:rgba(255, 255, 255, 0.5);
}

/* change the color highlight on search results */
.text-highlight, mark {
    box-shadow: inset 0 -0.3em 0 0 #642667;
}

/*Uncomment the follwoing lines to move facets to the left*/

/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

*/

